@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-X: hidden
}

.header{
    background-color: #457a38;
    display: grid;
    grid-template-columns: 15% 25% 35% 25%;
    height: 62px;
    width: 100vw;
}

.d1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    justify-self: center;
    align-self: center;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-weight: bold;
}

svg{
    height: 30px;
    width: 70px;
}

.d3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

a{
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 950px) {
    .header{
        display: grid;
        grid-template-columns: auto auto auto;
    }
    
    .d1{
        display: none
    }
}